<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Customer">
	<resultMap id="result" type="Customer">
		<result property="customerId" column="customer_id" />
		<result property="customerName" column="customer_name" />
		<result property="email" column="email" />
		<result property="telNum" column="tel_num" />
		<result property="address" column="address" />
		<result property="isActive" column="is_active" />
	</resultMap>


	<select id="selectCustomer" resultType="Customer">
		SELECT * FROM
		mst_customer;
	</select>

	<select id="getAllCustomer" resultMap="result">
		SELECT * FROM
		mst_customer;
	</select>
	
	 <select id="search" resultMap="result">
   		SELECT customer_id, customer_name, email, tel_num, address FROM mst_customer WHERE customer_name LIKE CONCAT('%', #{customerName} ,'%');
   </select>

	<select id="getCustomerId" parameterType = "int" resultMap="result">
		SELECT customer_id, customer_name,
		email, tel_num, address, is_active FROM mst_customer WHERE customer_id =
		#{customerId};
	</select>

	<insert id="insertCustomer" parameterType="Customer">
		INSERT INTO
		mst_customer (customer_name, email, tel_num, address, is_active)
		VALUES (#{customerName}, #{email}, #{telNum}, #{address},
		#{isActive});
	</insert>

	<update id="updateCustomerId" parameterType="Customer">
		UPDATE mst_customer SET customer_name = #{customerName}, email = #{email}, tel_num = #{telNum}, address = #{address},  WHERE customer_id =
		#{customerId};
	</update>


</mapper> 